/* Import PT Sans if the user doesn't have the font already. */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");

/* === Main website styling === */
/* Cancel out the margin and padding around the body of the page. */
html, body {
	margin: 0;
	padding: 0;
}
body {
	background-color: #222;
}
* {
	color: white;
	font-family: "PT Sans";
}
.titles {
	margin: 0 auto 0.2vw auto;
	padding-top: 0;
	text-align: center;
}
.gameOverTexts {
	display: none;
}
main {
	width: 80%;
	margin: 1vh auto 0 auto;
}

/* === Difficulty selection === */
#selection {
	width: 50%;
	margin: 0 auto;
}
#options {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.difficulty {
	height: 5vh;
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: 0.5vh solid;
	background-color: rgb(0, 31, 116);
	border-color: rgb(0, 12, 44);
	font-size: 1vw;
}
.difficulty:hover:not(.activated) {
	background-color: rgb(0, 46, 173);
}
.difficulty:active:not(.activated) {
	background-color: rgb(0, 13, 48);
}
.difficulty.activated {
	background-color: rgb(0, 18, 68);
	border-color: black;
}
#buttonContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1vw;
}
#go {
	width: 5vw;
	height: 5vh;
	background-color: rgb(27, 27, 27);
	border: 0.5vh solid black;
	font-size: 1.6vw;
}
#notice {
	display: none;
}

/* === Game styling === */
/* Game grid */
/* Define a variable that holds the number of rows/columns - this will be changed by the JS. */
:root {
	--gridColumns: 1;
	--gridRows: 1;
}
/* Make the grid display each cell*/
#gameContainer {
	display: none;
	width: 80vh;
	height: 80vh;
	gap: 2px;
	grid-template-columns: repeat(var(--gridColumns), 1fr);
	grid-template-rows: repeat(var(--gridRows), 1fr);
	margin: 0 auto;
	font-size: 2.3vh;
}
.spaces {
	border: 1px solid  #666;
	/* Center its contents. */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
}
.spaces:hover:not(.activated) {
	background-color: #444 !important;
}
.spaces:active:not(.activated) {
	background-color: #222 !important;
}

footer {
	padding-right: 1vw;
	position: fixed;
	top: 0;
	right: 0;
}
